body {
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
  
  .draw {
    color: white;
  }
  
  .bubbleSort {
    color: white;
  }
  
  .selectSort {
    color: white;
  }
  
  .myImg {
    width: 5rem;
    height: 5rem;
    color: white;
  }
  
  section {
    margin-left: 5.1rem;
    margin-right: 5rem;
  }
  
  .card {
    background-color: white;
    height: 12rem;
    width: 8rem;
    box-shadow: 1rem;
    margin: 1rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  .number {
    font-size: 2rem;
    margin-top: -1rem;
  }
  .heart {
    color: red;
    font-size: 1.3rem;
  }
  
  .flip {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  .suit {
    font-size: 1.3rem;
  }
  
  .paragraph {
    margin-top: 3rem;
    color: white;
  }
  
  .form-control {
    margin: 1rem;
  }